name: Publish to the Maven Central
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - uses: actions/checkout@v3
    - name: setup
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        server-id: ossrh
        server-username: ${{ secrets.OSSRH_USERNAME }}
        server-password: ${{ secrets.OSSRH_PASSWORD }}
    - name: build and publish
      run: mvn clean package deploy -P release --batch-mode
      env:
        SIGN_KEY: ${{ secrets.SIGN_KEY }}
        SIGN_KEY_ID: ${{ secrets.SIGN_KEY_ID }}
        SIGN_KEY_PASS: ${{ secrets.SIGN_KEY_PASS }}
